.container {
    margin : 10rem auto;
}

.form {
    gap : 0.3rem;
    width: 45rem;
    padding: 2rem;
}

.title {
    font-size : 2rem;
    font-weight : 500;
    color : #081f5c;
    margin : 2rem 0;
}

.select {
    border: solid 2px #d9d9d9;
    border-radius: 8px;
    padding: 0 1%;
    cursor: pointer;
    height: 2.3rem;
    width: 25rem;
}

.label {
    width: 24.5rem;
    text-align: left;
    font-weight: 600;
    margin-top : 0.5rem;
    margin-bottom : 0.3rem;
}

.button {
    margin : 3rem auto;
}